--swiftversion 6.2
--indent 4
--maxwidth 160
--commas inline
--stripunusedargs closure-only
--disable blankLinesAtEndOfScope,blankLinesBetweenScopes,braces,docComments,enumNamespaces,redundantReturn,wrapMultilineStatementBraces
--exclude **/.build,build
